.home_main{
    display: flex;
    align-items: flex-start;
    justify-content: left;
}
.home_right{
    width:100%;
    padding: 20px 50px;
    position: relative;
}

@media(max-width:500px){
    .home_left{
        display: none;
    }
    .home_right{
        padding:20px 5px;
    }
}