.singlenote{
    width: 400px;
    min-height: 160px;
    border-radius: 5px;
    padding:20px;
    position: relative;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-bottom: 30px;
    color: rgb(61, 61, 61);
    z-index: 1;
}

.singlenote.full{
    width:600px;
    min-height: 140px;
}
.singlenote.dark.full{
    width:600px;
    min-height: 140px;
}
.singlenote h1{
   font-size: 24px;
    margin-bottom: 10px;
}
.singlenote h3{
    font-size: 22px;
}
.singlenote p{
    margin-top: 10px;
    text-align: left;
    
}

.pin_iconn{
    font-size: 34px!important;
    position: absolute;
    top:10px;
    display: none;
    padding:7px;
    border-radius: 50%;
    right:20px;
    z-index: 1000;
    cursor: pointer;
}
.pinned_icon{
    font-size: 34px!important;
    position: absolute;
    top:10px;

    padding:7px;
    border-radius: 50%;
    right:20px;
   color: black;
    z-index: 1000;
    cursor: pointer;
}
.pinned_icon.dark{
    color:white;
}

.pin_iconn:hover{
    color:black;
    background-color: rgb(234, 234, 234);
}
.singlenote:hover .pin_iconn{
    display: block;
}
.dots{
    font-size: 18px;
    position: absolute;
    bottom:10px;
    display: none;
    padding:7px;
    border-radius: 50%;
    right:20px;
    z-index: 100;
    cursor: pointer;
}
.dots:hover{
    color:black;
    background-color: rgb(234, 234, 234);
}
.delete_div{
    position: absolute;
    bottom:10px;
    right:20px;
}
.singlenote:hover .dots{
    display: block;
}
.singlenote.dark{
    width: 400px;
    min-height: 160px;
    border-radius: 5px;
    padding:20px;
    color: white !important;
    position: relative;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-bottom: 30px;
}
.open_div{
    height: 100%;
    width:100%;
    background-color: transparent;
    position:absolute;
    top:0;
    left:0;
    z-index: 20;

}
.edit_input{
    border: none;
    outline: none;
    width: 400px;
    height: 25px;
    font-size: 16px;
   
}
.edit_input_dark{
    background-color: transparent;
    color:white;
    border: none;
    outline: none;
    width: 400px;
    height: 25px;
    font-size: 16px;
}


.edit_input1{
    border: none;
    outline: none;
    width: 400px;
    height: 25px;
    font-size: 16px;
    margin-bottom: 10px;
}
.edit_input2{
    border: none;
    outline: none;
    width: 400px;
    height: 25px;
    font-size: 16px;
    margin-bottom: 10px;
}